@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 1em;
	font-family: Century Gothic, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	color: #000000;
	background: #ff9933;
	font-size: 1em;
	font-family: Century Gothic, sans-serif;
	line-height: 135%;
}

header, footer {
	width: 100%;
	background-color: #6666cc;
	min-height: 50px;
}

@media (min-width: 500px){
	.container-1, .container-2 {
		display: flex;	
	}

	.container-1 {
		justify-content: flex-start;
		align-items: stretch;
	}
}

.box {
	margin: 5px;
	flex-basis: 7%;
}

.box:hower {
	
}

.container-2 {
	padding: 20px;
	align-items: stretch;
	flex-wrap: wrap;
}

.lb {
	font-size: 1.5em;
	flex-basis: 46%;
	margin-bottom: 7px;
	margin-right: 7px;
	padding: 1em;
	background-color: #ffffff;
	border-left: 7px solid #990000;
}

.lb:hover {
	background-color: #990000;
	text-decoration: none;
	transition: 0.6s ease;
	-moz-transition: 0.6s ease;
	-webkit-transition: 0.6s ease;
	-ms-transition: 0.6s ease;
}

.lb:active {
	border-left: 7px solid #339933;
	background-color: #339933;
	transition: 0.01s;
	-moz-transition: 0.01s;
	-webkit-transition: 0.01s;
	-ms-transition: 0.01s;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #00008B;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {
	color: #FF0000;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

/* Блок для выделения */

::selection {
		background: #7B68EE;
		color:#fff;
}
::-moz-selection {
		background: #7B68EE;
		color:#fff;
}