@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 1em;
	font-family: Century Gothic, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	color: #00CED1;
	background: #ffc940;
	font-size: 1em;
	font-family: Century Gothic, sans-serif;
	line-height: 135%;
}

a {
	color: #7B68EE;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: #00008B;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {
	color: #FF00FF;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

/* Блок для выделения */

::selection {
		background: #7B68EE;
		color:#fff;
}
::-moz-selection {
		background: #7B68EE;
		color:#fff;
}

header, footer {
	width: 98%;
	background-color: #274d7e;
	min-height: 50px;
}

header {
	border-bottom: 2px solid #05326d;
	padding: 1%;
}

.wrapper {
	display: grid;
	grid-template-columns: 10% 10% 10%;
	grid-gap: 1em;		
}

.wrapper > div {
	padding: 1em;
}

.men:hover {
	background-color: #05326d;
	cursor: pointer;
}

.laba {
	margin-left: 1%;
	display: grid;
	padding-left: 1%;
	background-color: #ffffff;
	border-left: 5px solid #f44268;
	grid-gap: 1em;
	grid-auto-rows: minmax(50px, auto);
	
}

.laba:hover {
	background-color: #f44268;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	cursor: pointer;
}

footer {
	padding: 1%;
	border-top: 2px solid #05326d;
	margin-bottom: 0;
}